<!DOCTYPE html>
<html>
    <head>
        <title>IHTW</title>

        <script src="https://fb.me/react-0.13.3.js"></script>
        <script type="text/javascript" src=""></script>

    </head>
    <body>
        {{body}}
    </body>
</html>